@font-face {
  font-family: "SilvanaTextTrial-Medium";
  font-weight: 500;
  src: url("fonts/SilvanaTextTrial-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "SilvanaTextTrial-Bold";
  font-weight: 700;
  src: url("fonts/SilvanaTextTrial-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "SilvanaTextTrial-Regular";
  font-weight: 400;
  src: url("fonts/SilvanaTextTrial-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "SilvanaTextTrial-Light";
  font-weight: 200;
  src: url("fonts/SilvanaTextTrial-Light.woff2") format("woff2");
}

/* General styles */
html, body {
  background-color: #2d2d2d;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: 'CoFo Sans Mono Variable', sans-serif;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  background-color: rgb(45, 47, 48);
}

/* Preloader styling */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(180, 180, 180); /* Background color */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 1s ease-out; /* Smooth fade-out */
}

#preloader-logo {
  width: 250px;
  height: auto;
  fill: rgb(45, 47, 48);
}

/* Fade-out class */
.fade-out {
  opacity: 0 !important;  /* Force opacity to 0 */
  transition: opacity 0.5s ease-out !important;  /* Ensure transition */
}

/* Hidden class to remove the preloader */
.hidden {
  display: none !important;
}

#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  z-index: 1005;
  background-color: transparent;
}

.nav-button {
  font-family: "SilvanaTextTrial-Medium", sans-serif;
  font-variation-settings: "wght" 500;
  font-size: 20px;
  color: rgb(180, 180, 180);
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 3;
}

.nav-button:hover {
  font-family: "SilvanaTextTrial-Bold", sans-serif;
  font-variation-settings: "wght" 700;
  color: rgb(230, 230, 230);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#logo {
  width: auto;
  height: 100px;
  cursor: pointer;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  z-index: 1006;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hamburger .line {
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  background-color: rgb(180, 180, 180);
  transition: transform 0.3s ease, background-color 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.hamburger.open .line {
  background-color: rgb(45, 47, 48); /* Change color of X button */
}

.hamburger.open .line1,
.hamburger.open .line2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin: 0;
  z-index: 1007 !important; /* Ensure X button is always on top */
}

.hamburger.open .line1 {
  transform: translate(-50%, -50%) rotate(45deg);
  width: 18px;
}

.hamburger.open .line2 {
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 18px;
}

@media screen and (max-width: 768px) {
  #nav-buttons {
    display: none;
  }

  .hamburger {
    display: block !important;
  }
}

.hamburger-container {
  position: fixed;
  top: 0;
  left: -100vw; /* Start off-screen */
  height: 100vh;
  width: 100vw;
  background-color: rgb(180, 180, 180);
  z-index: 998;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Start with opacity 0 */
  visibility: hidden; /* Prevent interaction */
  transition: left 0.4s ease, opacity 0.4s ease; /* Slide and fade effects */
}

.hamburger-container.active {
  left: 0; /* Slide in */
  opacity: 1; /* Fade in */
  visibility: visible; /* Show the container */
  transition: left 0.4s ease, opacity 0.4s ease; /* Ensure transition on visibility change */
}

.hamburger-container .nav-button {
  font-family: "SilvanaTextTrial-Medium", sans-serif;
  font-variation-settings: "wght" 500;
  font-size: 18px;
  color: rgb(45, 47, 48);
  background-color: transparent;
  border: none;
  padding: 15px;
  cursor: pointer;
  margin: 5px 0;
}

.hamburger-container .nav-button:hover {
  font-family: "SilvanaTextTrial-Bold", sans-serif;
  font-variation-settings: "wght" 700;
}

.line {
  transition: transform 0.3s ease, background-color 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.line.change-color {
  background-color: rgb(45, 47, 48); /* Color change to (45, 47, 48) */
}

h1 {
  font-family: "SilvanaTextTrial-Bold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: rgb(180, 180, 180);
  letter-spacing: 0.025em;
  line-height: 1.45px;
  padding-bottom: 1.8em;
  margin: 0%;
}

p1 {
  font-family: "SilvanaTextTrial-Light", sans-serif;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 0.018em;
  color: rgb(180, 180, 180);
  line-height: 1.4em;
  display: block;
}

.hero-container {
  position: absolute;
  width: 30vw;
  max-width: 60vw;
  min-width: 300px;
  height: auto;
  z-index: 3;
}

/* Mobile Specific Styling for Scrollable Hero Section */
@media screen and (max-width: 768px) {
    .hero-container {
        position: absolute;
        overflow-y: auto;
        padding: 10px;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
    }
    .hero-container::-webkit-scrollbar {
      display: none; /* Chrome, Safari, and Opera */
    }

    body {
        overflow: hidden; /* Prevent scrolling of the whole page */
    }

    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1005;
    }

    #nav-buttons {
        display: none; /* Hide desktop navigation buttons */
    }

    .hamburger {
        display: block !important; /* Show hamburger menu */
    }
}

/* Back button styling Desktop */
.back-button {
  font-family: "SilvanaTextTrial-Bold", sans-serif;
  font-variation-settings: "wght" 500;
  font-size: 20px;
  color: rgb(230, 230, 230);
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Back button styling for mobile */
.back-button-mobile {
  font-family: "SilvanaTextTrial-Bold", sans-serif;
  font-variation-settings: "wght" 500;
  font-size: 18px;
  color: rgb(45, 47, 48);
  background-color: transparent;
  border: none;
  padding: 15px;
  cursor: pointer;
}
